In [78]:
import cv2
import numpy as np
from keras.models import load_model
import csv
import pandas as pd

In [79]:
model=load_model(r'D:\ALGORITMA\Emotion Recognition\face-expression-recognition-dataset\Emotion_model_first.h5')

faceDetect=cv2.CascadeClassifier(r'D:\ALGORITMA\Emotion Recognition\face-expression-recognition-dataset\haarcascade_frontalface_default.xml')

In [94]:
labels_dict= {0:'Angry',1:'Happy',2:'Neutral',3:'Sad',4:'Surprise'}
frame=cv2.imread("zoom.jpg")
gray=cv2.cvtColor(frame, cv2.COLOR_BGR2GRAY)
faces= faceDetect.detectMultiScale(gray, 1.3, 3)

get_label = []
for x,y,w,h in faces:
    sub_face_img=gray[y:y+h, x:x+w]
    resized=cv2.resize(sub_face_img,(48,48))
    normalize=resized/255.0
    reshaped=np.reshape(normalize, (1, 48, 48, 1))
    
    result=model.predict(reshaped)
    label=np.argmax(result, axis=1)[0]
    emot = labels_dict[label]
    print(emot)
    
    cv2.rectangle(frame, (x,y), (x+w, y+h), (0,0,255), 1)
    cv2.rectangle(frame,(x,y),(x+w,y+h),(50,50,255),2)
    cv2.rectangle(frame,(x,y-40),(x+w,y),(50,50,255),-1)
    cv2.putText(frame, labels_dict[label], (x, y-10),cv2.FONT_HERSHEY_SIMPLEX,0.8,(255,255,255),2)
    if emot !=0:
        get_label.append(emot)
    else:
        print('terserah')
    
print(get_label)    
cv2.imshow("Frame",frame)
cv2.waitKey(0)
cv2.destroyAllWindows()

1/1 [==============================] - 2s 2s/step
Angry
1/1 [==============================] - 0s 87ms/step
Neutral
1/1 [==============================] - 0s 55ms/step
Neutral
1/1 [==============================] - 0s 101ms/step
Neutral
1/1 [==============================] - 0s 51ms/step
Neutral
1/1 [==============================] - 0s 60ms/step
Angry
1/1 [==============================] - 0s 77ms/step
Neutral
1/1 [==============================] - 0s 64ms/step
Neutral
1/1 [==============================] - 0s 64ms/step
Neutral
1/1 [==============================] - 0s 53ms/step
Neutral
1/1 [==============================] - 0s 67ms/step
Neutral
1/1 [==============================] - 0s 77ms/step
Neutral
1/1 [==============================] - 0s 48ms/step
Sad
1/1 [==============================] - 0s 42ms/step
Neutral
1/1 [==============================] - 0s 57ms/step
Neutral
1/1 [==============================] - 0s 53ms/step
Neutral
1/1 [==============================] - 0s 41ms/step
Neutral
['Angry', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Angry', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Sad', 'Neutral', 'Neutral', 'Neutral', 'Neutral']

In [93]:
df = pd.DataFrame(get_label)
df

          0
0     Angry
1   Neutral
2   Neutral
3   Neutral
4   Neutral
5   Neutral
6   Neutral
7   Neutral
8   Neutral
9   Neutral
10  Neutral
11  Neutral
12  Neutral
13      Sad
14  Neutral
15    Angry
16  Neutral

In [97]:
df.columns = ['Emotion']
df

    Emotion
0     Angry
1   Neutral
2   Neutral
3   Neutral
4   Neutral
5   Neutral
6   Neutral
7   Neutral
8   Neutral
9   Neutral
10  Neutral
11  Neutral
12  Neutral
13      Sad
14  Neutral
15    Angry
16  Neutral

In [95]:
df.value_counts()

Neutral    14
Angry       2
Sad         1
dtype: int64

In [98]:
pd.crosstab(index=df['Emotion'], columns='Frequency', colnames=' ')

         Frequency
Emotion
Angry            2
Neutral         14
Sad              1

In [101]:
import plotly.express as px
import pandas as pd
fig = px.line_polar(df, r='Frequency', theta='Emotion', line_close=True)
fig.update_traces(fill='toself')
fig.show()

ValueError: Value of 'r' is not the name of a column in 'data_frame'. Expected one of ['Emotion'] but received: Frequency

In [38]:
frame=cv2.imread("zoom.jpg")
gray=cv2.cvtColor(frame, cv2.COLOR_BGR2GRAY)
faces= faceDetect.detectMultiScale(gray, 1.3, 3)

In [39]:
gray.shape

(1080, 1920)

In [40]:
for x,y,w,h in faces:
    sub_face_img=gray[y:y+h, x:x+w]
    resized=cv2.resize(sub_face_img,(48,48))
    normalize=resized/255.0
    reshaped=np.reshape(normalize, (1, 48, 48, 1))
    
result=model.predict(reshaped)

1/1 [==============================] - 0s 61ms/step

In [44]:
label=np.argmax(result, axis=1)[0]

In [47]:
labels_dict[label]

'Neutral'

In [ ]:
df = pd.DataFrame(dict(
    r=[1, 5, 2, 2, 3],
    theta=['processing cost','mechanical properties','chemical stability',
           'thermal stability', 'device integration']))